<% if @current_user.present? && @displayed_msg_flag != true %>
    Welcome back <%= @current_user.email %>
    <% @displayed_msg_flag = true%>
<% end %>

<p>This site has been built to support gun control and law reform efforts in the USA, Mexico, South Africa and Australia.</p>

<p>Gun control is in the news briefly around the time of mass shootings, but then quickly fades from the media and political agenda. Meanwhile, the cumulative toll from gun violence continues to rise.</p> 

<p>This site aims to keep gun control on the media and political agenda over the long term.</p>

<%= image_tag("march_image.jpg", :class => "mainpic") %>

<font color="FF8000"><strong>
<% if @var_selected != nil%>
  <p>The politician you're tracking from the database is: <%= @var_selected %></p>
<%elsif @user_check != nil%>
  <p>The politician you're tracking from the database is: <%= @user_check[:name_first] %> <%= @user_check[:name_last] %> (<%= @user_check[:party] %>)</p>
<% end %>
</strong></font>