<h2>Log in</h2>

<main class="flex">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "column") do |f| %>

    <div class="formpara">
      <%= f.label :email %>:
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "boxstyle" %>
    </div>

    <div class="formpara">
      <%= f.label :password %>:
      <%= f.password_field :password, autocomplete: "off", class: "boxstyle" %>
    </div>
    <br />

    <% if devise_mapping.rememberable? -%>
      <div class="formpara">
        <%= f.label :remember_me, class: "label_remember" %>
        <%= f.check_box :remember_me, class: "input_checkbox" %>
      </div>
    <% end %>

    <br />
    <div>
      <%= f.submit "Log in" %>
    </div>

  <% end %>
</main>
<br />
<%= render "devise/shared/links" %>

